<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini-Blog</title>
</head>
<body>
  <form action="" method="post">

    <h1>Hello World</h1>

    <!-- Contact Info -->
    <fieldset>
        <legend>Contact Info</legend>

        <label>First Name:
            <input type="text" name="author">
        </label>

        
        <label>Title:
            <input type="text" name="title">
        </label>

        <label>Content:
          <input type="text" name="content">
      </label>

      <button>Submit</button>
    </fieldset>

   
</body>
</html>